@model MyBlog.ViewModels.UsersDetailsModel

@{
    ViewBag.Title = "User Details";
} 

<div class="container">
    <div class="row">
        <div class="col-8">
            <p> Username:</p>
            <p> @Model.Username</p>
            <br /> 
            <p> E-mail:s</p>
            <p> @Model.Email</p>
        </div>
    </div>
</div>